/**
 * Nome do arquivo: globals.css
 * Data de criação: 26/05/2024
 * Autor: Weslley Pereira Borges
 * Matrícula: 01608378
 *
 * Descrição:
 * Foram feitas apenas algumas configurações de padronização para o projeto.
 */

* {
  padding: 0px;
  margin: 0px;
  max-width: 100%;
}

body{
  background-color: black;
  color: white;
  display: grid;
  height: 100%;
}